<h1>Stupid Coaching</h1>

<div class="container">
  <div id="question">
    <%# put what they asked %>
    <p>
    <%= @question %>
    </p>
    <p class="author"> - You</p>

  </div>

  <div id = "answer">

      <%# put the coaches message %>
      <p>
      <%= @answer %>
      </p>
      <p class="author">- Your coach</p>

  </div>
</div>
