<h1>ask anything</h1>

<form action="/answer" data-turbo="false" class="form">
  <input id="textbox" type="text" name="question" placeholder="Ask anything...">
  <input id="askbtn" type="submit" value="Ask!">
</form>
